/* Registration Navbar */

.registration-navbar {
  background-color: #8ABE57;
}

.registration-navbar ul li a {
  color: #ffffff;
  font-size: 0.8em;
}

.registration-navbar ul li a:hover {
  color: #31353D;
}

.navbar-dark,
.navbar-toggler {
  border: none;
  color: rgba(255, 255, 255, 0);
}
